<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()"
      *ngIf="securityService.isAuthenticated()">Logout</button>
  </div>
