<form [formGroup]="loginForm">
  <div class="d-flex justify-content-center">
    <div class="col-md-3 col-md-offset-3">
      <div class="login-form">
          <h2 class="text-center">Log in</h2>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Login" required="required" formControlName="login">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" formControlName="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="login()">Log in</button>
          </div>
          <div class="clearfix">
          </div>
      </div>
    </div>
    </div>
  </form>
